### Alteração de ICAO
O dataset da ANAC utiliza o codigo ICAO para informar Origem e Destino dos voo.






**Método para facilitar intepretação:**

* alterar ICAO para o nome da cidade por extenso.

### Leitura do arquivo

In [19]:
from pandas import read_csv

try:
    df = read_csv('dataset_anac.csv')
except FileNotFoundError:
    print('Arquivo não encontrado')

### Verificação de NA

In [20]:
df.isna().sum()

ANO        0
MES        0
EMPRESA    0
ORIGEM     0
DESTINO    0
dtype: int64

## Lista dos ICAO no dataset

In [21]:
airports = df['ORIGEM'].value_counts().index.tolist()
print(airports)

['SBGR', 'SBBR', 'SBRJ', 'SBPA', 'SBSP', 'SBCT', 'SBCF', 'SBEG', 'SBFZ', 'SBRF', 'SBSV', 'SBBE', 'SBFL', 'SBKP', 'SBGL', 'SBVT', 'SBCY', 'SBGO', 'SBCG', 'SBSL', 'SBSG', 'SBPV', 'SBNF', 'SBMO', 'SBTE', 'SBFI', 'SBJP', 'SBPS', 'SBMQ', 'SBAR', 'SBBV', 'SBUL', 'SBPJ', 'SBRB', 'SBSN', 'SBSR', 'SBLO', 'SBMG', 'SBIZ', 'SBRP', 'SBMA', 'SBIL', 'SBJU', 'SBPL', 'SBCH', 'SBJV', 'SBMK', 'SBFN', 'SBCA', 'SWSI', 'SBJA', 'SBAE', 'SBHT', 'SBTT', 'SBDN', 'SBTF', 'SBPF', 'SBJI', 'SBSI', 'SBQV', 'SBAU', 'SBKG', 'SBCJ', 'SBCX', 'SBZM', 'SBIP', 'SBVC', 'SBDO', 'SBJE', 'SBCZ', 'SBAT', 'SSKW', 'SBCN', 'SBSM', 'SBML', 'SBVH', 'SBPK', 'SBCR', 'SBRD', 'SNBR', 'SWLC', 'SBPB', 'SBCB', 'SBGV', 'SNTF', 'SBTG', 'SBSJ', 'SBMS', 'SBUR', 'SWGN', 'SBDB', 'SBSO', 'SBPG', 'SBUF', 'SBUG', 'SBME', 'SBTD', 'SBVG', 'SBAQ', 'SBNM', 'SWJN', 'SSPB', 'SWHP', 'SBCP', 'SBLJ', 'SWTS', 'SSZW', 'SBIH', 'SWEI', 'SWPI', 'SNVB', 'SWCA', 'SBUY', 'SBBW', 'SBLE', 'SBGU', 'SBFE', 'SWMW', 'SWFX', 'SDNM']

### Alteração do ICAO

In [22]:
df['ORIGEM'].replace(
{
'SBGR':'Guarulhos','SBBR':'Brasília','SBRJ':'Santos Dummont','SBPA':'Porto Alegre','SBSP':'Congonhas','SBCT':'Curitiba',
'SBCF':'Confins','SBEG':'Manaus','SBFZ':'Fortaleza','SBRF':'Recife', 'SBSV':'Salvador', 'SBBE':'Belém', 'SBFL':'Florianópolis', 
'SBKP':'Campinas', 'SBGL':'Galeão', 'SBVT':'Vitória', 'SBCY':'Cuibá', 'SBGO':'Goiânia', 'SBCG':'Campo Grande', 'SBSL':'São Luis', 
'SBSG':'São Gonçalo do Amarante', 'SBPV':'Porto Velho','SBNF':'Navagantes', 'SBMO':'Maceió', 'SBTE':'Teresina', 'SBFI':'Foz do Iguaçu', 'SBJP':'João Pessoa', 'SBPS':'Porto Seguro', 'SBMQ':'Macapá', 
'SBAR':'Aracajú','SBBV':'Boa Vista','SBUL':'Uberlândia', 'SBPJ':'Palmas', 'SBRB':'Rio Branco','SBSN':'Santarém','SBSR':'São José do Rio Preto', 'SBLO':'Londrina', 
'SBMG':'Maringá', 'SBIZ':'Imperatriz', 'SBRP':'Riberão Preto', 'SBMA':'Marabá', 'SBIL':'Ilhéus', 'SBJU':'Juazeiro do Norte', 
'SBPL':'Petrolina', 'SBCH':'Chapecó', 'SBJV':'Joinville', 'SBMK':'Monte Carlos', 'SBFN':'Fernando de Noronha', 'SBCA':'Cascavel', 
'SWSI':'Sinop', 'SBJA':'Jaguaruna','SBAE':'Bauru','SBHT':'Alta Mira','SBTT':'Tabatinga', 'SBDN':'Presidente Prudente', 'SBTF':'Tefé', 
'SBPF':'Passo Fundo', 'SBJI':'Ji-Paraná', 'SBSI':'Sinop', 'SBQV':'Vitória da Conquista', 'SBAU':'Araçatuba', 'SBKG':'Campina Grande', 
'SBCJ':'Carajás', 'SBCX':'Caixias do Sul', 'SBZM':'Goianá', 'SBIP':'Ipatinga', 'SBVC':'Vitória da Conquista','SBDO':'Dourados', 
'SBJE':'Jericoacoara', 'SBCZ':'Cruzeiro do Sul', 'SBAT':'Alta Floresta','SSKW':'Caocal', 'SBCN':'Caldas Novas','SBSM':'Santa Maria', 'SBML':'Marília', 
'SBVH':'Vilhena','SBPK':'Pelotas', 'SBCR':'Corumbá', 'SBRD':'Rondópolis', 'SNBR':'Barreiras', 'SWLC':'Rio Verde','SBPB':'Parnaíba',  
'SBCB':'Cabo Frio','SBGV':'Governador Valadares', 'SNTF':'Teixeira de Freitas', 'SBTG':'Una', 'SBSJ':'São José dos Campos', 
'SBMS':'Mossoró', 'SBUR':'Uberaba', 'SWGN':'Araguaína', 'SBDB':'Bonito', 'SBSO':'Sorriso','SBPG':'Ponta Grossa','SBUF':'Paulo Afonso', 
'SBUG':'Uruguaiana', 'SBME':'Macaé', 'SBTD':'Toledo',  'SBVG':'Varginha', 'SBAQ':'Araraquara', 'SBNM':'Santo Ângelo', 'SWJN':'Juína',
'SSPB':'Pato Branco','SWHP':'Água Boa', 'SBCP':'Campos dos Goytacazes', 'SBLJ':'Lajes', 'SWTS':'Tangará da Serra', 'SSZW':'Ponta Grossa', 
'SBIH':'Itaituba', 'SWEI':'Irunepé','SWPI':'Parintins ', 'SNVB':'Valença', 'SWCA':'Carauari', 'SBUY':'Porto Urucu','SBBW':'Barra do Garças ', 
'SBLE':'Lençóis', 'SBGU':'Guarapuava', 'SBFE':'Feira de Santana','SWMW':' Maués', 'SWFX':'São Félix do Araguaia', 'SDNM':'Nova Mutum', 'SBBW':'Barra do Garças'
    
}, 
    inplace=True)

df['DESTINO'].replace(
    {
'SBGR':'Guarulhos','SBBR':'Brasília','SBRJ':'Santos Dummont','SBPA':'Porto Alegre','SBSP':'Congonhas','SBCT':'Curitiba',
'SBCF':'Confins','SBEG':'Manaus','SBFZ':'Fortaleza','SBRF':'Recife', 'SBSV':'Salvador', 'SBBE':'Belém', 'SBFL':'Florianópolis', 
'SBKP':'Campinas', 'SBGL':'Galeão', 'SBVT':'Vitória', 'SBCY':'Cuibá', 'SBGO':'Goiânia', 'SBCG':'Campo Grande', 'SBSL':'São Luis', 
'SBSG':'São Gonçalo do Amarante', 'SBPV':'Porto Velho','SBNF':'Navagantes', 'SBMO':'Maceió', 'SBTE':'Teresina', 'SBFI':'Foz do Iguaçu', 'SBJP':'João Pessoa', 'SBPS':'Porto Seguro', 'SBMQ':'Macapá', 
'SBAR':'Aracajú','SBBV':'Boa Vista','SBUL':'Uberlândia', 'SBPJ':'Palmas', 'SBRB':'Rio Branco','SBSN':'Santarém','SBSR':'São José do Rio Preto', 'SBLO':'Londrina', 
'SBMG':'Maringá', 'SBIZ':'Imperatriz', 'SBRP':'Riberão Preto', 'SBMA':'Marabá', 'SBIL':'Ilhéus', 'SBJU':'Juazeiro do Norte', 
'SBPL':'Petrolina', 'SBCH':'Chapecó', 'SBJV':'Joinville', 'SBMK':'Monte Carlos', 'SBFN':'Fernando de Noronha', 'SBCA':'Cascavel', 
'SWSI':'Sinop', 'SBJA':'Jaguaruna','SBAE':'Bauru','SBHT':'Alta Mira','SBTT':'Tabatinga', 'SBDN':'Presidente Prudente', 'SBTF':'Tefé', 
'SBPF':'Passo Fundo', 'SBJI':'Ji-Paraná', 'SBSI':'Sinop', 'SBQV':'Vitória da Conquista', 'SBAU':'Araçatuba', 'SBKG':'Campina Grande', 
'SBCJ':'Carajás', 'SBCX':'Caixias do Sul', 'SBZM':'Goianá', 'SBIP':'Ipatinga', 'SBVC':'Vitória da Conquista','SBDO':'Dourados', 
'SBJE':'Jericoacoara', 'SBCZ':'Cruzeiro do Sul', 'SBAT':'Alta Floresta','SSKW':'Caocal', 'SBCN':'Caldas Novas','SBSM':'Santa Maria', 'SBML':'Marília', 
'SBVH':'Vilhena','SBPK':'Pelotas', 'SBCR':'Corumbá', 'SBRD':'Rondópolis', 'SNBR':'Barreiras', 'SWLC':'Rio Verde','SBPB':'Parnaíba',  
'SBCB':'Cabo Frio','SBGV':'Governador Valadares', 'SNTF':'Teixeira de Freitas', 'SBTG':'Una', 'SBSJ':'São José dos Campos', 
'SBMS':'Mossoró', 'SBUR':'Uberaba', 'SWGN':'Araguaína', 'SBDB':'Bonito', 'SBSO':'Sorriso','SBPG':'Ponta Grossa','SBUF':'Paulo Afonso', 
'SBUG':'Uruguaiana', 'SBME':'Macaé', 'SBTD':'Toledo',  'SBVG':'Varginha', 'SBAQ':'Araraquara', 'SBNM':'Santo Ângelo', 'SWJN':'Juína',
'SSPB':'Pato Branco','SWHP':'Água Boa', 'SBCP':'Campos dos Goytacazes', 'SBLJ':'Lajes', 'SWTS':'Tangará da Serra', 'SSZW':'Ponta Grossa', 
'SBIH':'Itaituba', 'SWEI':'Irunepé','SWPI':'Parintins ', 'SNVB':'Valença', 'SWCA':'Carauari', 'SBUY':'Porto Urucu','SBBW':'Barra do Garças ', 
'SBLE':'Lençóis', 'SBGU':'Guarapuava', 'SBFE':'Feira de Santana','SWMW':' Maués', 'SWFX':'São Félix do Araguaia', 'SDNM':'Nova Mutum', 'SBBW':'Barra do Garças', 
     
    }, 
    inplace=True)

### Amostra

In [23]:
df.sample(12)

         ANO  MES EMPRESA         ORIGEM         DESTINO
59477   2020    4     TAM       Brasília  Santos Dummont
94222   2020    4     TAM   Porto Alegre        Salvador
111258  2020    4     TAM       Salvador        Teresina
58064   2020    4     TAM       Brasília     João Pessoa
107979  2020    4     TAM      Congonhas  Santos Dummont
91024   2020    4     TAM     Navagantes         Confins
72175   2020    4     TAM      Fortaleza        Curitiba
11968   2020    4     AZU  Florianópolis        São Luis
3098    2020    4     AZU       Cascavel         Confins
87419   2020    4     TAM      Jaguaruna       Congonhas
40345   2020    4     GLO         Galeão          Manaus
53334   2020    4     GLO        Vitória    Porto Alegre

## Criação de nova coluna
Para concatenar as strings das colunas foi utilizado o método CAT() do módulo STR com o separador: **->**

### Concatenação das strings das colunas Origem e Destino

In [43]:
df['VOO COMPLETO'] = df['ORIGEM'].str.cat(df['DESTINO'],
                                          sep = ' | ')

### Seleção de Colunas

In [44]:
df1 = df[['EMPRESA','VOO COMPLETO','ANO']]

###  Amostra

In [45]:
df1.sample(12)

       EMPRESA                         VOO COMPLETO   ANO
37225      GLO                    Cuibá | Fortaleza  2020
9856       AZU                    Manaus | Campinas  2020
106279     TAM            Congonhas | Florianópolis  2020
96008      TAM  Porto Velho | São José do Rio Preto  2020
112314     TAM               Uberlândia | Guarulhos  2020
40795      GLO                   Galeão | Guarulhos  2020
57248      TAM                 Brasília | Guarulhos  2020
9284       AZU                       Manaus | Belém  2020
104914     TAM                 Congonhas | Brasília  2020
569        AZU                     Belém | Curitiba  2020
85894      TAM                 Guarulhos | Salvador  2020
12094      AZU             Florianópolis | Teresina  2020